%section#services.non-home
  .container
    %h1
      Services
    .text-box
      %h2
        Utilities
      %ul.utilities
        %li
          New construction on power lines from single phase to 3-phase to double circuit
        %li
          Reconduct work
        %li
          Primary underground
        %li
          Secondary services
        %li
          Conversions
        %li
          Maintenance
        %li
          Pole change outs
        %li
          Work on voltages that range from 7.2 kv to 34.5 kv
        %li
          Work on transmissions ranging from 69kv to138kv.
        %li
          New construction
        %li
          Rebuilds
        %li
          Conversions
        %li
          Maintenance
        %li
          Troubleshoots and call outs
        %li
          Pole change outs
      %ul.utilities
        %li
          Street Light Install/Repair
        %li
          New Construction
        %li
          Reconduct
        %li
          Trouble Calls
        %li
          Secondary Reconduct
        %li
          Storm Restoration
        %li
          Pole Change Outs
        %li
          Installations of Transformers and Change Outs
        %li
          Troubleshooting
        %li
          System Upgrades
        %li
          Maintenance
        %li
          Re-insulations
        %li
          Installation of Capacitors and Reclosers Equipment
        %li
          Voltage Conversions
        %li
          Engineering
    .text-box.storm
      %h2
        Storm Restoration
      %p
        Sleigo’s emergency restoration crews are typically one of the first to respond and last to leave. The company is committed to restore power in a timely and professional manner to those in need. Some noteable Emergency Response assignments are hurricanes Harvey, Irma, and Maria along with multiple ice storms throughout the U.S.
      %ul
        %li
          Rapid Response
        %li
          Customer Centered Service
        %li
          Experienced Team
        %li
          Quality Fleet
        %li
          FEMA rapid response contract with Gulf Coast
    .text-box
      %h2
        Equipment
      %ul
        %li
          Service Trucks
        %li
          Buckets that range from 38’-60’
        %li
          Digger Derricks that range from 45-65’
        %li
          Dozers
        %li
          Mini Excavators
        %li
          Skid-Steers with pole setting attachments and auger attachments
        %li
          Trenching Equipment
        %li
          Rope Rigs
        %li
          Tensioners
        %li
          Material Trailers
        %li
          Pole Trailers
        %li
          ATV’s
