%section#safety.non-home
  .container
    %h1
      Safety
    .text-box
      %p
        We at Sleigo Enterprises strive to promote safe attitudes among our employees and take pride in providing customers and employees with a safe job site. Safety is always top priority. Every employee has the responsibility to prevent accident and injuries by observing established work rules, by following the directions of supervisors, by practicing the principles taught in safety training and by providing ideas on how safety efforts might be further enhanced.
      %p
        Our goal is for everyone to go home the way that they came to work. Contractors and employees performing work on job sites shall be required to comply with health, safety, and environmental regulations. Also, adopt safety practices equivalent to those applicable to Sleigo and/or Host Company.
      %h2
        Our Protocols
      %ul
        %li
          Full-Time Safety Coordinator
        %li
          OSHA Compliant Safety Programs
        %li
          Workers Compensation Insurance
        %li
          Frequent Safety Inspections
        %li
          Daily Tailgate Safety Meetings
        %li
          On-Going Safety Training
        %li
          First Aid and CPR Training
        %li
          Proper PPE and Quality Equipment
