%section#footer
  .container
    .footer-container
      .footer-img-box
        = image_tag "navoba.png", :class => "footer-img"
      .footer-img-box
        = image_tag "fed.png", :class => "footer-img"
      .footer-img-box
        = image_tag "lineman.png", :class => "footer-img"
      .footer-img-box
        = image_tag "ariba.png", :class => "footer-img"
      .footer-text-box
        %ul
          %li
            %h3
              SLEIGO ENTERPRISES
          %li
            3070 ARNOLD HILLS ROAD
          %li
            SEVEN POINTS, TX 75143
          %li
            (903) 603-4085
