%section#home
  .header-content
    = image_tag "header-text.png", :class => "logo-img"
  .container
    .text-block
      Sleigo Enterprises, LLC is a general contracting company specializing in powerline construction and maintenance, right of way clearing, land management, emergency restoration, and more. We posses exstensive electrical utility knowledge, operational expertise, electrical and telecommunications experience along with self performance capabilities covering all trades. Sleigo is a growing, veteran owned small business currently headquartered in Seven Points, TX with nationwide performance capacities.
  .contact-bar
    Contact us for a quote today!
  .tri-block
    .container-fluid
      .row
        .card.services
          .title Services
          .text We provide our customers with a multitude of storm restoration and utlity services.
          .read-more
            =link_to "read more", "#"
        .card.safety
          .title Safety
          .text Our safety standards ensure that our customer's and employees' safety is always our top priority.
          .read-more
            =link_to "read more", "#"
        .card.about
          .title About Us
          .text Our core principals and comany mission will ensure that you are treated with the highest standards
          .read-more
            =link_to "read more", "#"


