%section#about.non-home
  .container
    %h1
      About Us
    .text-box
      %p
        honoring commitments to employees, clients and our industry guides our actions. Sleigo has grown because of the hard work and dedication of its employees. Together we aim to be recognized by our clients and peers as one of the most skilled construction companies in the business. A shared understanding of our Core Principles and Mission will help us carry out our historical commitments and continue to prosper.
      %h2
        Core Principals
      %ul
        %li
          We believe our employees are the Company's greatest asset, and support their efforts to learn new skills and achieve professional excellence.
        %li
          We will maintain a team-oriented workplace, with opportunities to do interesting and challenging work.
        %li
          We promise to follow high ethical standards in all of our business relationships.
        %li
          We will strive to recognize and meet the legitimate needs of our clients and employees.
        %li
          We are committed to providing superior services to all of our clients, and to deliver these services with courtesy and professionalism.
      %br
      %h2
        Our Mission
      %p
        Our shared mission is to deliver superior quality service to our clients by fostering an energetic, challenging, and comfortable work environment and be recognized by our clients and peers as a leader in our industry.
