$font-stack:    Verdana, sans-serif;
$primary-color: #CC2719;
$light-grey: #f5f5f5;
$dark-grey: #2C3539;
$black: #222222;
$white: #ffffff;

body {
  font-family: $font-stack;
  font-size: 16px;
  background-color: $light-grey;
  min-height: 300vh;
}

section {
  width: 100%;
}

h2 {
  margin-top:0;
  font-family: 'Cuprum', sans-serif;
}

.row > div {
  padding: 15px 25px;
}

#home {
  z-index:2;
  margin-top:0px;
  height:100vh;
  background-image: url('website-header-bw.png');
  background-position: center 80px;
  background-attachment: fixed;
  background-color: $light-grey;
  height:40vh;
  .bg {
    background-image: url('bg-image-bw.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $light-grey;
    height:50%;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Bootstrap Overide */
.navbar-default {
  border: none;
  background-color: $white;
  border-radius: 0px;
  .navbar-header {
    height:80px;
  }
  .navbar-toggle, .navbar-toggle:active, .navbar-toggle:focus {
    margin-top:20px;
    border:none;
    background: transparent;
    .icon-bar {
      background-color: $dark-grey;
    }
    &:hover {
      background: transparent;
      .icon-bar {
        background-color: $dark-grey;
      }
    }
  }
  .navbar-brand, .navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
    height: 100%;
    padding: 0px 0px;
    img {
      margin-top: 25px;
      height: 30px;
    }
  }
  .navbar-nav {
    float:right;
    li {
      //height:125px;
      //padding-top: 12px;
      a, a:focus, a:active, a:visited {
        line-height: calc(80px / 2);
        color:$dark-grey;
        text-shadow: none;
        padding-left: 25px;
      }
      a.svg {
        position: relative;
        display: inline-block;
      }
      a.svg:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      &:hover {
        a {
          text-shadow: none;
          text-decoration: underline;
        }
      }
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .navbar-default .navbar-nav li {
    padding-top: 12px;
    // float:none;
    height:auto;
    &:hover {
      background-color: $black;
    }
  }
  .row > div {
    padding: 5px 25px;
  }
  #home {
      position: relative;
      background-color: $light-grey;
      z-index:2;
      margin-top:45px;
  }
  .navbar-default {
    .navbar-toggle, .navbar-toggle:active, .navbar-toggle:focus {
      margin-top:10px;
    }
    .navbar-collapse {
      border-color: $primary-color;
    }
    .navbar-nav {
      float:none;
      li {
        height:45px;
        float:none;
        padding-top: 5px;
        a, a:focus, a:active, a:visited {
          color:$white;
          text-shadow: none;
          &:hover {
            color: $primary-color;
          }
        }
        a.social, a.social:visited, a.social:active, a.social:focus {
          display: inline-block;
          font-size: 25px;
          text-align: center;
          &:hover {
            color: $primary-color;
          }
        }
        &:hover {
          background-color: $black;
          a {
            color:$white;
            text-shadow: none;
          }
        }
      }
    }
  }

  #process {
    .tile {
      min-height: 255px;
      padding-bottom: 40px;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  #process {
    .tile {
      min-height: 275px;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}
