$font-stack: Baskerville, Verdana, sans-serif;
$primary-color: #CC2719;
$light-grey: #f5f5f5;
$med-grey: #EAEAEA;
$dark-grey: #2F2C2C;
$black: #222222;
$white: #ffffff;
$red: #D5302D;

body {
  font-family: $font-stack;
  font-size: 18px;
  background-color: $light-grey;
}

section {
  width: 100%;
}

h2 {
  margin-top:0;
  font-family: 'Cuprum', sans-serif;
}

.row > div {
  padding: 15px 25px;
}

#home {
  z-index:2;
  margin-top:0px;
  height:100vh;
  background-image: url('website-header-bw.png');
  background-position: center 80px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: $light-grey;
  height:40vh;
  text-align: center;
  .header-content {
    height: 40vh;
    img.logo-img {
      //height: calc((40vh - 80px)/2);
      margin-top: calc(((40vh - 80px)/4) + 80px);
      padding: 20px;
      width: 80%;
      max-width: 800px;
    }
  }
}

#main {
  .main-text {
    background-color: $light-grey;
    .text-block {
      width: 80%;
      margin: 50px auto;
      font-weight: normal;
      font-size: 22px;
    }
  }
  .contact-bar {
    text-align:center;
    font-family: "Copperplate";
    background-color: $red;
    color: $white;
    text-decoration: underline;
    font-size: 30px;
    padding: 25px;
  }
  .tri-block {
    padding: 50px 25px;
    background-color: $dark-grey;
    display: flex;
    justify-content: center;
    .card {
      text-align: center;
      padding: 15px 15px;
      max-width: 550px;
      background-color: $white;
      border: 2px solid $red;
      border-radius: 10px;
      display: flex;
      flex-grow: 1;
      padding: 15px;
      margin: 15px;
      .card-cont {
        display: flex;
        flex-direction: column;
        .title {
          text-decoration: underline;
          color: $red;
          font-family: "Copperplate";
          font-size: 30px;
          font-weight: bold;
        }
        .text {
          padding: 10px 5px;
          text-align: left;
          font-size: 22px;
          line-height: 45px;
        }
        .read-more {
          font-family: "Serifa Bold", Copperplate;
          text-align: right;
          text-decoration: underline;
          a {
            color: $black;
            letter-spacing: 4px;
          }
        }
      }
    }
  }
}

section.non-home {
  margin-top: 80px;
  .container {
    padding: 50px 0px;
    background-image: url('trans-logo.svg');
    background-position: center center;
    background-repeat: repeat-y;
    background-size: contain;
    background-attachment: fixed;
    text-align: center;
    h1 {
      text-align: left;
      padding-left: 25px;
      font-family: "Serifa Bold", "Copperplate";
      color: $red;
      text-decoration: underline;
    }
    .text-box {
      padding-top: 50px;
      font-family: "Copperplate";
      h2 {
        padding: 25px 50px 10px 50px;
        text-align: left;
        font-family: "Serifa Bold", "Copperplate";
        text-decoration: underline;
      }
      p {
        text-align: left;
        margin: 0px auto;
        text-transform: uppercase;
        padding: 25px 50px;
      }
      ul {
        list-style-type: none;
        padding: 0px 50px;
        text-align: left;
        &.utilities {
          width: 49%;
          display: inline-block;
        }
        li {
          padding: 10px 0px;
          &:before {
            content: "+";
            margin-right: 10px;
          }
        }
      }
      &:first-of-type {
        padding-top: 10px;
      }
      &.storm, &.equipment {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        .text {
          width: 50%;
          display: flex;
          flex-direction: column;
        }
        .pic {
          align-self: center;
          display: flex;
          width: 50%;
          img {
            width: 100%;
            max-width: 500px;
            height: 550px;
          }
        }
      }
    }
  }
}

#footer {
  background-color: $med-grey;
  padding: 10px 15px;
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .footer-img-box {
      display: flex;
      flex-grow: 1;
      img.footer-img {
        height: 100%;
        max-height: 100px;
      }
    }
    .footer-text-box {
      color: $dark-grey;
      justify-content: flex-end;
      font-family: "Serifa Bold", Verdana;
      text-align: right;
      display: flex;
      flex-grow: 2;
      h3 {
        letter-spacing: 5px;
      }
      ul {
        list-style-type: none;
        letter-spacing: 2px;
      }
    }
  }
}

/* Bootstrap Overide */
.navbar-default {
  font-family: "Copperplate";
  border: none;
  background-color: $white;
  border-radius: 0px;
  .navbar-header {
    height:80px;
  }
  .navbar-toggle, .navbar-toggle:active, .navbar-toggle:focus {
    margin-top:20px;
    border:none;
    background: transparent;
    .icon-bar {
      background-color: $dark-grey;
    }
    &:hover {
      background: transparent;
      .icon-bar {
        background-color: $dark-grey;
      }
    }
  }
  .navbar-brand, .navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
    height: 100%;
    padding: 0px 25px;
    img {
      margin-top: 28px;
      height: 25px;
    }
  }
  .navbar-nav {
    float:right;
    li {
      height:80px;
      font-family: "Serifa Bold", "Copperplate";
      letter-spacing: 3px;
      padding: 0px 25px;
      a, a:focus, a:active, a:visited {
        line-height: 40px;
        color:$dark-grey;
        text-shadow: none;
        padding: 20px 0px;
        font-size: 20px;
      }
      &:hover {
        a {
          text-shadow: none;
          text-decoration: underline;
        }
      }
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
  .navbar-default .navbar-nav li {
    padding-top: 12px;
    height:auto;
    &:hover {
      background-color: $black;
    }
  }
  .row > div {
    padding: 5px 25px;
  }
  .navbar-default {
    .navbar-toggle, .navbar-toggle:active, .navbar-toggle:focus {
    }
    .navbar-collapse {
      border-color: $primary-color;
    }
    .navbar-nav {
      float:none;
      li {
        padding-top: 5px;
        a, a:focus, a:active, a:visited {
          color:$dark-grey;
          text-shadow: none;
          &:hover {
            color: $light-grey;
          }
        }
        a.social, a.social:visited, a.social:active, a.social:focus {
          display: inline-block;
          font-size: 25px;
          text-align: center;
          &:hover {
            color: $primary-color;
          }
        }
        &:hover {
          background-color: $black;
          a {
            color:$white;
            text-shadow: none;
          }
        }
      }
    }
  }

  .tri-block {
    padding: 50px 25px;
    background-color: $dark-grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  section.non-home {
    .container {
      .text-box {
        ul {
          &.utilities {
            width: 100%;
            display: block;
          }
        }
        &.storm, &.equipment {
          display: flex;
          flex-wrap: wrap;
          align-content: center;
          .text {
            width: 100%;
            display: flex;
            flex-direction: column;
          }
          .pic {
            align-self: center;
            display: flex;
            width: 100%;
            img {
              width: 100%;
              max-width: 500px;
              height: 550px;
              margin: 0px auto;
            }
          }
        }
      }
    }
  }

  #footer {
    .container {
      width: 100%;
      .footer-container {
        flex-wrap: wrap;
        .footer-img-box {
          flex-grow: 1;
          justify-content: center;
        }
        .footer-text-box {
          justify-content: center;
          text-align: center;
          flex-grow: 2;
        }
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  #footer {
    .container {
      width: 100%;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}
